.player {
    width: 200px;
    background-color: rgba(50, 50, 50, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange;
}